<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatbot-help</title>
</head>
<body>
    
<h1>※Learnable Chatbot API※</h1>

<h3>프로젝트에 필요한 데이터를 학습시켜 사용 가능한 챗봇 API입니다.</h3>
<br>
<b>⭕개요</b><br>
<p>PAE, MiracleStep, WorkingMate 프로젝트 애플리케이션 상용화 시에 각 서비스에 대한 정보가 학습되어있는 챗봇이 있으면 간단한 문제는 쉽고 빠르게 해결할 수 있며, 사용자 입장에서도 바로바로 답변 받을 수 있기 때문에 편리할 것 같다고 생각하여 각각의 필요한 정보들을 간단하게 학습시켜 사용할 수 있도록 API를 개발함.</p>
<br>
<b>⭕특징</b><br>
> openAI사의 GPT-2 모델 활용<br>
> mongoDB에 원하는 데이터(json)를 추가하여 학습<br>
> 사용 프로젝트에 맞게 이름, 형식 등 세팅값 조정 가능<br>
> 기상청의 openAPI를 사용하여 현재 날씨정보를 자동으로 학습<br>
<br>
<b>⭕사용 기술</b><br>
> Python으로 GTP-2모델 학습 및 처리<br>
> Flask Web Framework를 활용하여 API구현<br>
> MongoDB를 사용하여 chatData관리<br>
> goormIDE 클라우드 환경에서 Nginx구동 (예정)<br>
<br>
<b>⭕API 호출</b> - [Python]<br>
import requests<br>
import json<br>
url = 'https://chatbot-api.run.goorm.site/'<br>
headers = {'Content-Type': 'application/json'}<br>
data = {'user_input': '안녕'}<br>
response = requests.post(url, headers=headers, data=json.dumps(data))<br>
print(response.json())<br>
<br>
![image](https://user-images.githubusercontent.com/89591782/230947470-0b7da05a-4ca4-4143-b3c1-c5888f3560a6.png)<br>
<i>URL수정 및 data에 'user_input' : '???' 질문 내용 입력하여 API호출.</i>
<br><br>

<b>⭕코드 활용</b><br>
1️⃣ utils/Api_key.py 파일에 개인 API KEY 등록<br>
2️⃣ local환경에 mongoDB를 설치. DB: chatbot-data, Collection: basic<br>
3️⃣ project를 클라우드 환경(goormIDE)에 올려 Flask실행<br>

<br><br>
```
┌───────────────────────────────────────────────┐
   __ _  ___   ___  _ __ _ __ ___   (_) ___  
    / _` |/ _ \ / _ \| '__| '_ ` _ \  | |/ _ \ 
   | (_| | (_) | (_) | |  | | | | | |_| | (_) |
    \__, |\___/ \___/|_|  |_| |_| |_(_)_|\___/ 
    |___/                                      
			     🌩 𝘼𝙣𝙮𝙤𝙣𝙚 𝙘𝙖𝙣 𝙙𝙚𝙫𝙚𝙡𝙤𝙥!
└───────────────────────────────────────────────┘
```

    
</body>
</html>